
# VSCode
.vscode/

# Python
__pycache__/

# Flutter Project's product folders
# build/
# android/
# ios/
# linux/
# macos/
# web/
# windows/

# Dart tutorial project
dart_tutorial/build/
dart_tutorial/android/
dart_tutorial/ios/
dart_tutorial/linux/
dart_tutorial/macos/
dart_tutorial/web/
dart_tutorial/windows/

