<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13957873450-km6bvok79rqnrdlppcvid44ubgna2pq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13957873450-km6bvok79rqnrdlppcvid44ubgna2pq8</string>
	<key>API_KEY</key>
	<string>AIzaSyD5XvLW-TeW7y4DEeaSLlDo5sti9DIAmC4</string>
	<key>GCM_SENDER_ID</key>
	<string>13957873450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shinichi.inoue.puzzleapp</string>
	<key>PROJECT_ID</key>
	<string>puzzleapp-58ec5</string>
	<key>STORAGE_BUCKET</key>
	<string>puzzleapp-58ec5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13957873450:ios:5cafb2feaf0a3b1e326853</string>
</dict>
</plist>